@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans+Condensed&display=swap");

body {
  overflow: hidden;
  background: none;

  background-image: url('../assets/wind-coal.avif');
  background-position: center center;
  background-size: cover;
  background-repeat: none;

  animation: pan-image 10s linear infinite;
}

main {
  background-color: #1e1e24d7;
  backdrop-filter: blur(10px);
}

/*.text {
  padding: 4rem 4rem 4rem 4rem;
  border-radius: 30px;
  
  background-color: #1e1e24d5;
  backdrop-filter: blur(10px);
}*/



#header {
  grid-area: logo;
  border-top: var(--ui-border) 2px solid;
  align-self: start;
}

.dots {
  position: absolute;
  z-index: -1;
  background-image: radial-gradient(var(--alt-text-color) 1px, transparent 0);
  background-size: 15px 15px;
  background-position: -19px -19px;
}

#hero-dots-1 {
  width: 240px;
  height: 160px;
  top: 10vh;
  left: 5vw;
}

#hero-dots-2 {
  width: 300px;
  height: 100px;
  top: 80vh;
  left: 60vw;
}

#hero {
  width: 100vw;
  max-height: 100vh;

}

#hero h1 {
  line-height: var(--line-height);
}



#hero {
  display: grid;

  width: 100%;
  height: 100%;

  grid-template-areas:
    "text text nav"
    "text text nav"
    "text text nav"
    "logo . nav";

  grid-template-columns: 7fr var(--nav-width);
  grid-template-rows: 9.5fr 0.5fr;

  place-items: center;
}

.text {
  grid-area: text;
  max-width: 59vw;
}

.text p {
  z-index: 99;
}

nav {
  margin: 0;
  height: 100vh;
  width: var(--nav-width);
  grid-area: nav;
  border-left: 2px solid var(--ui-border);
  background-color: var(--alt-background);
  box-shadow: 0 0 15px var(--alt-background);
}

#nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#nav-links li {
  list-style-type: none;
  text-align: center;
  height: 100%;
  width: 100%;

  display: grid;
  place-items: center;
  transition: 300ms ease;
}

#nav-links li > a {
  font-size: var(--fs-400);
  font-family: "Bebas Neue", sans-serif;
  color: var(--text-color);
  text-decoration: none;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms ease;
}

#nav-links:has(li:hover) > li:not(:hover) {
  scale: 0.8;
  opacity: 0.7;
}

