nav {
  position: sticky;
  
  top: 0;
  width: 100vw;
  height: 3rem;
  padding: 0 1rem 0 1rem;
  background: linear-gradient(to top, transparent, var(--alt-background));

  display: flex;
  align-items: center;
  opacity: 0.5;
  transition: opacity 200ms ease-in-out;
}

nav img {
  position: absolute;
  height: 5vh;
}

nav:hover {
  opacity: 1;
}

#nav-links {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;

  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2rem;
}

#nav-links li {
  width: fit-content;
  height: 100%;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;

  background: 
    linear-gradient(to right, transparent, transparent),
    linear-gradient(to right, var(--accent-color-alpha), var(--accent-color-alpha));
  background-size: 100% 0.5em, 0 0.5em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;

  padding: 0 1rem 0 1rem;
  transition: scale 200ms linear, opacity 200ms linear, background-size 200ms;
}

.link {
  line-height: 3.2rem;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: 'Bebas Neue', sans-serif !important;
  font-size: var(--fs-200);

  color: var(--text-color);
  text-decoration: none;
}

#nav-links:has(li:hover) > li:not(:hover) {
  scale: 0.95;
  opacity: 0.7;
}

#nav-links li:hover,
#nav-links li:focus {
  background-size: 0 1.4em, 100% 1.4em;
}