@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans+Condensed&display=swap');

:root {
  --background: #1E1E24;
  --alt-background: #18181B;
  --text-color: #DDE6F8;
  --alt-text-color: #A2A8BB;

  --ui-border: #5d6374;

  --accent-color: #a6e3a1;
  --accent-color-alpha: #a6e3a1a6;

  --fs-100: 1.5rem;
  --fs-300: 1.5rem;
  --fs-400: 2.5rem;
  --fs-500: 3rem;
  --fs-600: 3.5rem;
  --fs-700: 4rem;
  --fs-800: 5.5rem;
  --fs-900: 10rem;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  overflow-x: hidden;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: var(--fs-800);
  color: var(--text-color);
  margin: 0rem 0.5rem 0rem 0.5rem;
}

h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: var(--fs-600);
  color: var(--text-color);
}

h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: var(--fs-500);
  color: var(--alt-text-color);
}

h4 {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: var(--fs-300);
  color: var(--alt-text-color);
}

p {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  color: var(--text-color);
  font-size: var(--fs-300);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  width: 70vw
}

