@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans+Condensed&display=swap');

:root {
  --background: #1E1E24;
  --alt-background: #18181B;
  --text-color: #DDE6F8;
  --alt-text-color: #A2A8BB;
  --accent-color: #a6e3a1;
  --accent-color-alpha: #a6e3a1a6;

  --fs-100: 1.5rem;
  --fs-300: 1rem;
  --fs-400: 2rem;
  --fs-500: 3rem;
  --fs-600: 3.5rem;
  --fs-700: 4rem;
  --fs-800: 5.5rem;
  --fs-900: 10rem;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background);

}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: var(--fs-800);
  color: var(--text-color);
  margin: 0rem 0.5rem 0rem 0.5rem;
}

h2 {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: var(--fs-400);
  color: var(--alt-text-color);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  position: absolute;
  
  top: 0;
  width: 100vw;
  height: 3rem;
  padding: 0 1rem 0 1rem;
  background: linear-gradient(to top, transparent, var(--alt-background));
}

#nav-links {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
}

#nav-links li {
  width: fit-content;
  height: 100%;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;

  background: 
    linear-gradient(to right, transparent, transparent),
    linear-gradient(to right, var(--accent-color-alpha), var(--accent-color-alpha));
  background-size: 100% 0.5em, 0 0.5em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;

  padding: 0 1rem 0 1rem;
  transition: scale 200ms linear, opacity 200ms linear, background-size 200ms;
}

.link {
  line-height: 3.2rem;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: 'Bebas Neue';
  font-size: var(--fs-100);

  color: var(--text-color);
  text-decoration: none;
}

#nav-links:has(li:hover) > li:not(:hover) {
  scale: 0.95;
  opacity: 0.7;
}

#nav-links li:hover,
#nav-links li:focus {
  background-size: 0 1.4em, 100% 1.4em;

  > a {
    text-shadow: 2px 2px var(--background);
  }
}

.text {
  width: 70vw
}

.dots {
  position: absolute;
  z-index: -1;
  background-image: radial-gradient(var(--alt-text-color) 1px, transparent 0);
  background-size: 15px 15px;
  background-position: -19px -19px;
}

#hero-dots-1 {
  width: 240px;
  height: 160px;
  transform: translate(-50%, -25%);
  opacity: 0.5;
}

#hero-dots-2 {
  width: 150px;
  height: 100px;
  transform: translate(30rem, 8rem);
}


#hero {
  width: 100vw;
  min-height: 100vh;
}

#hero h1 {
  line-height: 10rem;
}

#coal {
  position: absolute;
  transform: translate(20%, -30%);
  opacity: 0.7;
}